<!DOCTYPE html>
<html>
  <head>
    <title>InventoryControlSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css', integrity: 'sha384-...', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js', integrity: 'sha384-...', crossorigin: 'anonymous', defer: 'defer' %>

    
    
  </head>

  <body>
    <%= render 'layouts/nav' %>
    
    <%= yield %>

    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
     <%= render 'layouts/footer' %>
  </body>

  <style>
  *{
    padding: 0;
    margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background: #343A40;
 border-top: 3px solid #343A40;   
}
  </style>
</html>
